<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Cloud Smoker</title>

	<!--
		<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
	<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
	-->

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
</head>

<body>
	<div id="contents">
		<v-app>
			<v-app-bar app class="brown ">
				<v-app-bar-title>
					<h3 class="text-h3 white--text">Smoker</h3>
				</v-app-bar-title>
				<v-spacer></v-spacer>

				<v-toolbar-title v-if="user.login">
					<div class="white--text text-subtitle-1">
						<div class=" ">
							Logged in as: <span>{{user.name}}</span>
						</div>
						<div>
							<v-btn class="float-right" @click="logout" color="" x-small>Logout</v-btn>
						</div>
					</div>
				</v-toolbar-title>
			</v-app-bar>
			<v-main>
				<v-container>
					<div class=" " v-if="!user.login">
						<v-btn href="/oauth2/authorization/github" color="grey" class="white--text pa-5">
							<svg class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16"
								version="1.1" width="32" aria-hidden="true">
								<path fill-rule="evenodd"
									d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
								</path>
							</svg>
							<span class="pl-4">Login with GitHub</span>
						</v-btn>
					</div>
					<div class=" " v-if="user.error">
						{{user.error}}
					</div>
					<div class=" " v-if="user.login && !devices.length">
						Loading devices
					</div>
					<v-row v-if="devices.length">
						<v-col cols="6">
							<v-select v-model="selected" :items="devices" item-text="id" item-value="id" label="Device">
							</v-select>
						</v-col>
						<v-col cols="6">
							<v-card class="pa-2" outlined tile v-if="selected">
								Firmware: {{state.firmware_version}}<br>
								Last status time: {{state.updateTime}}
							</v-card>
						</v-col>
					</v-row>

					<v-form @submit.prevent="submit" @submit="submitForm" :action=deviceUrl method="put" class=""
						ref="form" v-model="valid" lazy-validation>

						<v-radio-group v-model="config.mode" row v-if="selected">
							<v-radio label="Temperature limit" value="-2"></v-radio>
							<v-radio label="Time limit" value="-1"></v-radio>
							<v-radio label="Off" value="0"></v-radio>
							<v-radio label="On" value="100"></v-radio>
						</v-radio-group>

						<v-range-slider label="Min and Max" max="150" min="-50" v-model="minmax" v-if="config.mode==-2">
							<template v-slot:append>
								<v-text-field :value="minmax[0]" @change="$set(minmax, 0, $event)" class="mt-0 pt-0"
									hide-details single-line type="number" style="width: 60px"></v-text-field>
								<strong class="px-2 pt-2"> - </strong>
								<v-text-field :value="minmax[1]" @change="$set(minmax, 1, $event)" class="mt-0 pt-0"
									hide-details single-line type="number" style="width: 60px"></v-text-field>
							</template>
						</v-range-slider>

						<!--
					<v-slider label="Min" v-model="config.min" v-if="config.mode==-2" min="0" max="120">
						<template v-slot:append>
							<v-text-field v-model="config.min" class="mt-0 pt-0" hide-details single-line type="number"
								style="width: 60px"></v-text-field>
						</template>
					</v-slider>
					<v-slider label="Max" v-model="config.max" v-if="config.mode==-2" min="0" max="120">
						<template v-slot:append>
							<v-text-field v-model="config.max" class="mt-0 pt-0" hide-details single-line type="number"
								style="width: 60px"></v-text-field>
						</template>
					</v-slider>
					-->
						<v-slider label="On Minutes" v-model="config.onMins" v-if="config.mode==-1" min="0" max="1440">
							<template v-slot:append>
								<v-text-field v-model="config.onMins" class="mt-0 pt-0" hide-details single-line
									type="number" style="width: 60px"></v-text-field>
							</template>
						</v-slider>
						<v-slider label="Off Minutes" v-model="config.offMins" v-if="config.mode==-1" min="0"
							max="1440">
							<template v-slot:append>
								<v-text-field v-model="config.offMins" class="mt-0 pt-0" hide-details single-line
									type="number" style="width: 60px"></v-text-field>
							</template>
						</v-slider>
						<v-slider label="Max Minutes" v-model="config.maxMins" v-if="config.mode" min="0" max="28800">
							<template v-slot:append>
								<v-text-field v-model="config.maxMins" class="mt-0 pt-0" hide-details single-line
									type="number" style="width: 60px"></v-text-field>
							</template>
						</v-slider>

						<v-btn type="submit" id="submit" :disabled="!valid" color="primary" class="" @click="submitForm"
							v-if="selected">Set
							config</v-btn>
					</v-form>

					<line-chart v-if="selected" :series="series" />

					<!--

					<div>
						<div>Selected: {{ selected }}</div>
						<div>Config: {{ config }}</div>
						<div>State: {{ state }}</div>
						<div>Valid: {{ valid }}</div>
					</div>
					-->


				</v-container>
			</v-main>
		</v-app>

		<!--

		<md-app>

			<md-app-toolbar class="md-primary">
				<h1 class="md-title">Smoker</h1>
			</md-app-toolbar>

			<md-app-content class="xmd-layout">

				<div class="xmd-layout-item">
					<md-field>
						<md-select v-model="selected" @change="deviceSelected()" name="device" id="device"
							placeholder="Device">
							<md-option v-for="option in devices" v-bind:value="option.id">{{ option.id }}</md-option>
						</md-select>
					</md-field>
				</div>

				<form @submit="submitForm" :action=deviceUrl method="put" class="xmd-layout">

					<p v-if="errors.length">
						<b>Please correct the following error(s):</b>
					<ul>
						<li v-for="error in errors">{{ error }}</li>
					</ul>
					</p>

					<div class="" v-if="selected">
						<md-radio v-model="config.mode" value="-2">Temperature limit</md-radio>
						<md-radio v-model="config.mode" value="-1">Time limit</md-radio>
						<md-radio v-model="config.mode" value="0">Off</md-radio>
						<md-radio v-model="config.mode" value="100">On</md-radio>
					</div>

					<md-field class="md-layout md-gutter" v-if="config.mode==-2" width="150px" :style="{width:'150px'}">
						<label>Min</label>
						<md-input v-model="config.min" class="md-layout-item" width="150px" :style="{width:'150px'}">
						</md-input>
					</md-field>
					<md-field class="md-layout md-gutter" v-if="config.mode==-2">
						<vue-slider id="min" ref="slider" v-model="config.min" v-bind="sliderOptions"
							class="md-layout-item">
						</vue-slider>
					</md-field>

					<md-field class="xmd-layout-item" v-if="config.mode==-2">
						<label>Min</label>
						<md-input v-model="config.min">Min</md-input>
					</md-field>
					<md-field class="xmd-layout-item" v-if="config.mode==-2">
						<vue-slider id="min" ref="slider" v-model="config.min" v-bind="sliderOptions">
						</vue-slider>
					</md-field>
					<md-field class="xmd-layout-item" v-if="config.mode==-2">
						<label>Max</label>
						<md-input v-model="config.max">Max</md-input>
					</md-field>
					<md-field class="xmd-layout" v-if="config.mode==-2">
						<vue-slider id="max" ref="slider" v-model="config.max" v-bind="sliderOptions">
						</vue-slider>
					</md-field>
					<md-field class="xmd-layout-item" v-if="config.mode==-1">
						<label>On Minutes</label>
						<md-input class="" v-model="config.onMins" />
					</md-field>
					<md-field class="xmd-layout" v-if="config.mode==-1">
						<vue-slider id="onMins" ref="slider" v-model="config.onMins" v-bind="sliderOptions">
						</vue-slider>
					</md-field>
					<md-field class="xmd-layout-item" v-if="config.mode==-1">
						<label>Off Minutes</label>
						<md-input class="" v-model="config.offMins" />
					</md-field>
					<md-field class="md-layout" v-if="config.mode==-1">
						<vue-slider id="offMins" ref="slider" v-model="config.offMins" v-bind="sliderOptions">
						</vue-slider>
					</md-field>
					<md-field class="xmd-layout-item" v-if="config.mode">
						<label>Max Minutes</label>
						<md-input class="" v-model="config.maxMins" />
					</md-field>
					<md-field class="md-layout" v-if="config.mode">
						<vue-slider id="maxMins" ref="slider" v-model="config.maxMins" v-bind="sliderOptions">
						</vue-slider>
					</md-field>

					<div class="xmd-layout-item" v-if="selected">
						<md-button class="md-raised md-primary" type="submit" id="submit">Set config</md-button>
					</div>
				</form>


				<line-chart v-if="selected" :series="series" />


			</md-app-content>
		</md-app>
		-->
		<!-- 
				<div>Selected: {{ selected }}</div>
				<div>Config: {{ config }}</div>
				<div>State: {{ state }}</div>
				<div>INFO: {{ devices }}</div>
 -->
	</div>


	<!-- include Vue.js -->
	<!-- we include babel js so that we can write ES6 code in the browser
     for a more production like setup it is recommended to setup a build process
     to transpile and minify the code (such as using webpack)
 -->

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!--
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-material"></script>



	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
	<script
		src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>

	-->


	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

	<script src="smoker.js"></script>

	<script type="text/babel">
	</script>
</body>

</html>